@model  PLIMS.ViewModel.ViewModelAll

@{
    ViewBag.Title = "SetUp Refresh Time";
}


@*Include Area*@
<script src="~/Scripts/jquery-3.7.1.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<!-- DataTables CSS -->
<script type="text/javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />

<!-- DataTables -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="~/Content/main.css" rel="stylesheet" />




<style type="text/css">

    .form-control {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inIncentive-block;
        border: 0.1px solid #808080;
        border-radius: 2px;
        box-sizing: border-box;
    }

    .Qty-button {
        background-color: #A4ADB3;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        color: white;
        width: 100%;
        height: 100%;
    }

    .Defect-button {
        border: 0.4px solid black;
        background-color: white;
        border-radius: 2px;
        cursor: pointer;
        color: black;
        width: 100%;
        height: 100%;
    }
</style>
        <h2 class="page-name">Set up refresh time</h2>
        <div class="page-form-container">
            <form class="set-up-refresh-time-form">
                <label class="set-up-refresh-time-labels">Refresh time (min) :</label>
                <input class="form-number-input" type="number" placeholder="Please enter" required><br>
                <div class="submit-button-container">
                    <input type="submit" value="Submit" class="white-btn white-btn-text">
                </div>
            </form>
        </div>
